{% extends 'base.html' %}
{% load static %}

{% block title %}AIに伝わる日本語を話そう | AIJapanese{% endblock %}

{% block header%}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Let's learn AI Japanese</h1>
      <h2 class="masthead-subheading mb-0">AIに伝わる日本語を身につけよう！</h2>
      <a href="{% url 'account_login' %}" class="btn btn-primary btn-xl rounded-pill mt-5">LOG IN</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}

{% block contents %}
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{% static 'img/01.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h3>AIに伝わる日本語って？</h3>
          <p>論理が明確でない日本語はAIに理解されない！？AIに伝わる日本語を身につけよう！</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{% static 'img/02.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h3>AIに伝わると何が嬉しいの？</h3>
          <p>昨今技術発展が著しい自動翻訳は勿論のこと、その他AIツールも自由に使いこなせるようになる！</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{% static 'img/03.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-10">
          <h3>対人とのコミュニケーションも円滑に</h3>
          <p>AIに伝わるくらい分かりやすい日本語は、人間にとっても分かりやすい！円滑なコミュニケーション能力を身につけよう！</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}